<div id="welcome">
    <div class="wrapper-welcome">
        <div class="col-md-6 iphone">
            <%= image_tag "iphone.png", class: "img-iphone" %>
            <div class="images">
                <div class="imgage">
                    <%= image_tag "1.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "2.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "3.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "4.jpg" %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="log_in">
                <h1 id="logo">Instapic</h1>
                <div class="skinny_wrapper">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <br />
                        <%= f.text_field :username, autofocus: true, :placeholder => "Username", :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.text_field :name, :placeholder => "Name", :class => "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.email_field :email, :placeholder => "Email", :class => "form-control" %>
                      </div>

                      <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password (8 characters minimum)", :class => "form-control" %>
                      </div>

                      <div class="form-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm your password", :class => "form-control" %>
                      </div>

                      <div class="center">
                          <div class="form-group">
                            <%= f.submit "Sign Up", :class => "btn-log_in" %>
                          </div>
                        <% end %>

                      </div>
                </div>
            </div>
            <div class="links">
                Have an account? <%= link_to "Log in", new_session_path(resource_name) %><br />
            </div>
        </div>
    </div>
</div>
