<div id="welcome">
    <div class="wrapper-welcome">
        <div class="col-md-6 iphone">
            <%= image_tag "iphone.png", class: "img-iphone" %>
            <div class="images">
                <div class="imgage">
                    <%= image_tag "1.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "2.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "3.jpg" %>
                </div>
                <div class="imgage">
                    <%= image_tag "4.jpg" %>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="log_in">
                <h1 id="logo">Instapic</h1>
                <div class="skinny_wrapper">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <br />
                        <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control" %>
                      </div>

                      <div class="form-group">

                        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control" %>
                      </div>

                      <div class="center">
                          <div class="form-group">
                            <%= f.submit "Log in", :class => "btn-log_in" %>
                          </div>
                        <% end %>

                      </div>
                </div>
                <div class="forg_password">
                    <%= link_to "Forgot it?", new_password_path(resource_name) %><br />
                </div>
            </div>
            <div class="links">
                Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %><br />
            </div>
        </div>
    </div>
</div>
