<div id="index" class="super_skinny_wrapper">
    <% @pictures.each do |picture| %>
        <div class="picture">
            <div class="user clearfix">
                <div class="info">
                    <div class="img_user">
                        <%= link_to (image_tag picture.user.avatar.url(:mini), class: "img-circle"), picture.user %>
                    </div>
                    <div class="name_user">
                        <%= link_to picture.user.username, picture.user %> <br>
                        <%= picture.user.name %>
                    </div>
                </div>
            </div>
            <div class="img">
                <%= image_tag picture.image.url(:medium) %>
                <%= link_to picture do %>
                <div class="info_pic" id="grad">
                    <h3><i class="fa fa-heart"></i> 103 <span><i class="fa fa-comment"> 54</i></span></h3>
                </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
