<!DOCTYPE html>
<html>
<head>
  <title>Instapic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
</head>
<body>
    <% if controller.controller_name != 'devise/sessions' || controller.controller_name != 'devise/registrations'%>
    <nav class="navbar">
        <% if controller.action_name == 'index' %>
        <div class="super_skinny_wrapper">
        <% else %>
        <div class="wrapper2">
        <% end %>
            <div class="navbar-brand col-md-4 col-sm-4">
                <%= link_to "Instapic", authenticated_root_path %>
            </div>
            <% if user_signed_in? %>
            <div class="search-form col-md-4 col-sm-4">
                <form id="search_form" name="search_name" onsubmit="return search()">
                  <div class="fieldContainer">
                      <span class="fa fa-search"></span>
                      <input type="search" id="query" class="searchField blur" placeholder="Search">
                      <input type="submit" name="searchButton" id="searchButton" value="">
                  </div>
               </form>
            </div>
            <div class="user col-md-4 col-sm-4">
                <% if controller.controller_name == 'users' && controller.action_name == 'show' %>
                <%= link_to "Sign out",destroy_user_session_path, method: :delete %>
                <% else %>
                <%= link_to "#{current_user.username}",current_user %>
                <% end %>
            </div>
            <% end %>
        </div>
    </nav>
    <% end %>
    <% if notice %>
          <div class="alert alert-success">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
              <li>
                <%= notice %>
              </li>
            </ul>
          </div>
    <% elsif alert %>
        <div class="alert alert-danger">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= alert %>
            </li>
          </ul>
        </div>
    <% end %>

<%= yield %>

</body>
</html>
